body {
  margin: 0;
  font-family: 'consolas', 'monospace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: consolas, monospace;
  font-weight: 800;
}