button {
    text-transform: uppercase;
    background: white;
    padding: 10px 5%;
    margin: 10px;
    border: 2px solid;
}

input {
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: block;
    border: 2px solid;
}